[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/white-fogg-ghost-theme"]
  path = content/themes/white-fogg-ghost-theme
	url = https://github.com/mobeenabdullah/white-fogg-ghost-theme.git
[submodule "content/themes/uno"]
  path = content/themes/uno
	url = https://github.com/ngdelcastillo/uno.git
[submodule "content/themes/phantom"]
  path = content/themes/phantom
	url = https://github.com/ngdelcastillo/ghost-themes.git
